name: Docker Image CI

on:
  push:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest
    environment: production

    steps:
    - uses: actions/checkout@v4

    
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build the Docker image
      run: |
        IMAGE_NAME=dannyllobams/dannyllo-souza-blog
        COMMIT_SHA=${GITHUB_SHA::7}
          
        docker build . \
          --file src/web/dbs.blog/Dockerfile \
          --tag $IMAGE_NAME:latest \
          --tag $IMAGE_NAME:$COMMIT_SHA

    - name: Push Docker image
      run: |
        IMAGE_NAME=dannyllobams/dannyllo-souza-blog
        COMMIT_SHA=${GITHUB_SHA::7}
        
        docker push $IMAGE_NAME:latest
        docker push $IMAGE_NAME:$COMMIT_SHA
